/* pseudo elemento aqui vamos a definir variables */

:root {
  --Cyan: #4abebd;
  --Cyan-dark: #29afad;
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --font_family: "Karla", sans-serif;
}

/* Accecibilidad */
html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: var(--Light-Gray);
}

*,
* :before,
* :after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font_family);
}

h3,
h2 {
  color: var(--Light-Gray);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container-body,
.container-header {
  width: 800px;
}

.container-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.container-body {
  display: flex;
  justify-content: center;
}

.login-subscription {
  background-color: var(--Cyan-dark);
  width: 400px;
  padding: 10px 50px;
  border-radius: 0 0 0 10px;
  padding-bottom: 30px;
}

.login-subscription p,
h2 {
  margin: 0;
  color: var(--Light-Gray);
}

.login-subscription-info {
  padding: 16px;
}

.form-container {
  background-color: var(--Cyan);
  width: 400px;
  padding: 10px;
  border-radius: 0 0 10px 0;
}

.btn-login {
  width: 240px;
  background-color: var(--Bright-Yellow);
  color: #fff;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}

.btn-login:hover {
  opacity: 0.9;
}

.center-container {
  display: flex;
  justify-content: center;
}

.btn-login:active {
  transform: translateY(2px);
}

small {
  color: var(--Cyan);
  font-size: 16px;
}

h1 {
  color: var(--Cyan);
  font-size: 24px;
}

.container-header p {
  color: var(--Bright-Yellow);
  font-weight: bold;
}

.container-header :last-child {
  color: var(--Light-Gray);
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-form {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--Light-Gray);
  margin-bottom: 10px;
}

label {
  color: var(--Light-Gray);
}

.center-container {
  display: flex;
  justify-content: center;
}
